<div style="height:fit-content"
     class="col-3 col-sm-3 flex-grow-sm-1 flex-shrink-1 flex-grow-0 sticky-top pb-sm-0 pb-3">
    <div class="bg-light border rounded-3 p-1 h-100 sticky-top">
        <!-- <h6 class="d-none d-sm-block text-muted">Sticky Sidebar</h6> -->
        <ul class="nav nav-pills flex-sm-column flex-row mb-auto justify-content-between text-truncate">
            <li title="Manage your metadata schemas">
                <a href="{{ url_for("metadata_schema_editor_bp.metadata_schemas") }}"
                   class="nav-link px-2 text-truncate"><i class="bi bi-list-columns-reverse me-2 fs-4"></i>Manage</a>
            </li>
            <li title="Apply metadata based on a schema">
                <a href="{{ url_for("metadata_schema_view_bp.view_schema_metadata_for_item") }}"
                   class="nav-link px-2 text-truncate"><i class="bi bi-tags-fill me-2 fs-4"></i>Apply</a>
            </li>
        </li>
    </ul>
</div>
</div>
